body {
  font-family: Roboto, sans-serif;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

.logo--blue {
  color: #2196f3;
}

.nav__list {

display: flex;
gap: 50px;
list-style: none;
}
